body{
  background-color: #03C4A1;
}

#container {
    height: 520px;
    width: 28%;
    border: solid cyan 1px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgb(24, 23, 23);
}

#menu {
    height: 480px;
    width: 300px;
    border-radius: 20px;
    margin: 5px 10px;
    padding: px;
    line-height: 2;
}

button{
    height: 33px;
    margin-top: 5px;
    margin-left: 30px;
    display: inline-block;
    border-radius: 20px;
    border: rgba(123, 156, 90, 0.904);
    outline: none;

}

input{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
}

.btn{
    height: 33px;
    width: 90px;
    margin: 10px 0;
}